@media (prefers-reduced-motion: reduce) {
	@keyframes fade-in {
	}

	@keyframes slide-in-left {
	}

	@keyframes slide-in-right {
	}

	@keyframes slide-in-bottom {
	}
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes fade-in {
		0% {
			transform: translateY(1em) scaleY(1.1);
			filter: opacity(0%);
		}

		80% {
			transform: translateY(0em) scaleY(1.1);
			filter: opacity(80%);
		}

		100% {
			filter: opacity(100%);
		}
	}

	@keyframes slide-in-left {
		0% {
			transform: translate(-40vw, 20vw);
			filter: opacity(0%);
		}
		80% {
			transform: translate(0);
			filter: opacity(80%);
		}
		100% {
			filter: opacity(100%);
		}
	}

	@keyframes slide-in-right {
		0% {
			transform: translate(40vw, 20vw) scaleX(-1);
			filter: opacity(0%);
		}
		80% {
			filter: opacity(80%);
		}
		100% {
			filter: opacity(100%);
		}
	}

	@keyframes slide-in-bottom {
		0% {
			transform: translateY(50vw);
			filter: opacity(0%);
		}
		80% {
			transform: translate(0);
			filter: opacity(80%);
		}
		100% {
			filter: opacity(100%);
		}
	}
}
