@media (prefers-reduced-motion: reduce) {
	@keyframes fade-in {
	}
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes fade-in {
		0% {
			transform: translateY(1em);
			filter: opacity(0%);
		}

		80% {
			transform: translateY(0em);
			filter: opacity(80%);
		}

		100% {
			filter: opacity(100%);
		}
	}

	@keyframes slide-in-left {
		0% {
			transform: translate(-40vw, 20vw);
		}
		100% {
		}
	}

	@keyframes slide-in-right {
		0% {
			transform: translate(40vw, 20vw);
		}
		100% {
		}
	}
}
