:root {
	--primary: hsl(253, 100%, 95%);
	--heading-background: hsl(197, 80%, 80%);
	--heading-background-second: hsl(197, 80%, 75%);
	--secondary: hsl(168, 100%, 99%);
	--accent: #faffc7;
	--accent-secondary: #ccf1ff;
	--tertiary: hsl(335, 60%, 80%);
	--light: hsl(128, 27%, 98%);
	--dark: hsl(232, 34%, 21%);
	--dark-second: hsl(289, 50%, 30%);
	--strong: var(--secondary);

	/* new color scheme */
	--heading-outline: #7d82b8;
	--heading-shadow: #caafe8;

	--heading: 6em 'Anitype', sans-serif;
	--subheading: 400 2em 'Noticia Text', serif;
	--body: 400 1em 'Mukta', sans-serif;

	font-size: min(1.2rem, 3vw);
}

@font-face {
	font-family: 'Anitype';
	src: url('/fonts/Anitype-Journal/AnitypeJournal-3.otf');
}

body {
	background: hsl(200, 84%, 88%);
	background-size: max(100vw, 100%) max(100vh, 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font: var(--body);
	overflow-x: hidden;
}

body > div {
	overflow-x: hidden;
}

main {
	padding: 1em;
	margin: 2em 2.5em;
	text-align: center;
	color: var(--dark);
}

h1 {
	text-transform: uppercase;
	border-radius: 0.3em;
	transform: scaleY(1.1);
	color: var(--secondary);
	-webkit-text-fill-color: #ffffff00;
	-webkit-text-stroke-width: 0.05em;
	-webkit-text-stroke-color: var(--heading-outline);
	text-shadow: 0 10px var(--heading-shadow);
	/* padding: 0.3em 0.1em; */
	margin: 0 0 0.3em 0;
	font: var(--heading);
}

h2 {
	margin: 0;
	font: var(--subheading);
}

p {
	font-size: 1.3em;
}

ul {
	list-style: none;
	margin: 0 -2em;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	grid-auto-rows: 2em;
	align-items: center;
	justify-content: center;
	font-size: 1.7em;
}

strong {
	--outline: var(--strong);
	font-weight: 900;
	color: var(--dark-second);
	text-shadow: 0 0 5px var(--outline);
	letter-spacing: 1px;
}

.btn {
	font: var(--subheading);
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 1.2em;
	background-color: var(--tertiary);
	text-decoration: none;
	color: var(--light);
	padding: 0.2em 0.6em;
	border-radius: 1em;
	box-shadow: 0.04em 0.03em 0.1em var(--dark);
	text-shadow: 0.04em 0.03em 0.1em var(--dark);
	white-space: nowrap;
	margin-left: 0;
	display: absolute;
}

a.btn:hover {
	font-size: 1.4em;
	filter: brightness(120%);
}

.cloud {
	position: absolute;
	bottom: -3em;
	--x-position: -14em;
	width: 33em;
}

#cloud-left {
	left: var(--x-position);
	/* transform: translateX(40vw); */
}

#cloud-right {
	right: var(--x-position);
	transform: scaleX(-1);
	/* transform: translateX(40vw); */
}

@media (prefers-reduced-motion: reduce) {
	.btn {
		transition: none;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.btn {
		transition: font-size 200ms cubic-bezier(0.57, -1, 0.41, 2);
	}
}
